<div class="main" >
    <div class="row">
      <div class="col-md-12">
        <ul class="li p-0">
          <li>Declaración de beneficiarios ingresada satisfactoriamente.</li>
          <li>Declarante: <span class="upper">{{declarante.nombre}} {{declarante.apellidos}} </span></li>
          <li>Fecha: {{declarante.feCreacion | date:'dd/MM/yyyy HH:mm:ss'}}</li>
          <br>
          <li>Ante consultas contactarse al correo <a href="">bfinales@security.cl</a></li>
        </ul>
      </div>
    </div>
  </div>