<div class="main">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <p>RUT</p>
        </div>
        <div class="col-md-6">
          <p>99301000-6</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <p>Razon Social</p>
        </div>
        <div class="col-md-6">
          <p>SEGUROS VIDA SECURITY PREVISIÓN S.A.</p>
        </div>
      </div>

    </div>
  </div>

  <p class=" ">Identificación del Declarante:</p>
  <form class="m_form" [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="row">
      <div class="col-md-6" [class.info--error]="checkIsValid('rut')">
        <label class="info-label">RUT Declarante</label>
        <input required type="text" class="info-input" placeholder="Ej: 12.345.678-9" formControlName="rut" maxlength="9"
          formatRut appRutChars> <br />
        <div *ngIf="form.get('rut').hasError('invalidRut') && form.get('rut').touched">
          <span class="text-danger">RUT Incorrecto</span>
        </div>
        <div *ngIf="form.get('rut').hasError('InvalidNatural') && form.get('rut').touched">
          <span class="text-danger">Se debe ingresar un rut de persona natural.</span>
        </div>

      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6" [class.info--error]="checkIsValid('nombre')">
            <label class="info-label">Nombre</label>
            <input required type="text" class="info-input" placeholder="Ej: juan" formControlName="nombre" maxlength="50">
            <div *ngIf="!form.get('nombre').valid && form.get('nombre').touched">
              <span class="text-danger">Nombre Incorrecto</span>
            </div>
          </div>
          <div class="col-md-6" [class.info--error]="checkIsValid('apellido')">
            <label class="info-label">Apellido</label>
            <input required type="text" class="info-input" placeholder="Ej: perez" formControlName="apellido" maxlength="50">
            <div *ngIf="!form.get('apellido').valid && form.get('apellido').touched">
              <span class="text-danger">Apellido Incorrecto</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 " [class.info--error]="checkIsValid('relacionEmpresa')">
            <label class="info-label">Relación con la Empresa</label>
            <input required type="text" class="info-input" placeholder="Ej: gerente" formControlName="relacionEmpresa"
              maxlength="50">
            <div *ngIf="!form.get('relacionEmpresa').valid && form.get('relacionEmpresa').touched">
              <span class="text-danger">Relación con la Empresa Incorrecto</span>
            </div>
          </div>
          <div class="col-md-6" [class.info--error]="checkIsValid('correo')">
            <label class="info-label">Correo Electronico</label>
            <input required type="text" class="info-input" placeholder="Ej: email@empresa.cl" formControlName="correo"
              maxlength="50">
            <div *ngIf="!form.get('correo').valid && form.get('correo').touched">
              <span class="text-danger">Correo Incorrecto</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <p class="  bold text-justify">Identificación de Propietarios o Controladores (beneficiarios finales).</p>

        <p class="  text-justify"> Se entenderá como Propietario o Controlador Final, a la persona natural, chilena
          o extranjera,
          que finalmente posee, directa o indirectamente, una participación igual o mayor al 10 % del capital o de los
          derechos a voto de su empresa.
          Asimismo, se entenderá como Propietario o Controlador Final a la persona natural, chilena o extranjera, que
          sin perjuicio de poseer directa o indirectamente una participación inferior al 10% del capital o de los
          derechos a voto de su empresa, ejerce el control efectivo en la toma de decisiones.</p>
        <div class="info mb-4"  >
           <!--  *ngIf="form.valid && lstBeneficiarios.length<10 && porcentajeAcumulado<100" -->
          <button [disabled]="!form.valid || lstBeneficiarios.length>9 || porcentajeAcumulado>99" class="btn orange" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Agregar
            Propietario </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Rut</th>
              <th scope="col">Nombre</th>
              <th scope="col">Participación</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="lstBeneficiarios.length" >
            <tr *ngFor="let beneficiario of lstBeneficiarios ">
              <th scope="row">{{beneficiario.rut}}</th>
              <td>{{beneficiario.nombre}} {{beneficiario.apellido}}</td>
              <td>{{beneficiario.participacion}}</td>
              <td><button class="btn btn-danger pl-2 pr-2" id="lstBeneficiarios.rut" (click)="EliminarBeneficiario(beneficiario)"><i class="fas fa-trash-alt"></i></button></td>
            </tr>

          </tbody>
          <div *ngIf="lstBeneficiarios.length===0" >
            <h6 class="text-center">Sin Beneficiarios Declarados</h6>
          </div>
        </table>
      </div>
    </div>

    <div class="info">
      <div *ngIf="!loading">
        <input type="submit" class="btn orange" value="Enviar Declaración" />
      </div>
      <div class="info" *ngIf="loading">
        <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
      </div>
      <div class="info">
        <br>
        <label class="info-error">{{mensaje}}</label>
      </div>
    </div>
  </form>
</div>
<!-- Large modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-security text-white">
        <h5 class="modal-title" id="exampleModalLabel ">Agregar Propietario</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="m_form" [formGroup]="formAgregar" (ngSubmit)="AgregarParticipante()">
          <div class="form-group" [class.info--error]="checkIsValidA('rutAgregado')">
            <label for="recipient-name" class="info-label">RUT Beneficiario:</label>
            <input type="text" class="info-input" placeholder="Ej: 12.345.678-9" formControlName="rutAgregado"
              maxlength="9" formatRut appRutChars>
            <div *ngIf="formAgregar.get('rutAgregado').hasError('invalidRut') && formAgregar.get('rutAgregado').touched">
              <span class="text-danger">RUN Incorrecto</span>
            </div>
            <div *ngIf="formAgregar.get('rutAgregado').hasError('InvalidNatural') && formAgregar.get('rutAgregado').touched">
              <span class="text-danger">Se debe ingresar un rut de persona natural.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Nombre:</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: juan " formControlName="nombreAgregar"
              maxlength="50">
            <div *ngIf="!formAgregar.get('nombreAgregar').valid && formAgregar.get('nombreAgregar').touched">
              <span class="text-danger">Nombre Incorrecto</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Apellido :</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: perez" formControlName="apellidoAgregar"
              maxlength="50">
            <div *ngIf="!formAgregar.get('apellidoAgregar').valid && formAgregar.get('apellidoAgregar').touched">
              <span class="text-danger">Apellido Incorrecto</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Participación:</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: 5,43 " formControlName="participacion"
              maxlength="4" appPhoneChar>
            <div *ngIf="!formAgregar.get('participacion').valid && formAgregar.get('participacion').touched">
              <span class="text-danger">Participación Incorrecto</span>
            </div>
            <div *ngIf="!validacion">
              <span class="text-danger">Rut ya ingresado</span>
            </div>
          </div>
          <div class="info">
              <button type="submit" class="btn orange">Agregar</button>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <ul class="li p-0">
          <li>
            <p class="   bold ">Propietario con participación mayor o igual a 10%</p>
          </li>
          <li>
            <p class="  ">Identifique las personas naturales que tienen una participación en la Empresa
              igual o mayor al 10%. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>