<div class="main">
 <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <p>RUT</p>
        </div>
        <div class="col-md-6 upper">
           <p *ngIf="empresa.rut"class="black">{{empresa.rut | rut}}</p> 
           <p *ngIf="!empresa.rut"class="black">Sin definir</p> 
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row upper">
        <div class="col-md-2">
          <p>Razon Social</p>
        </div>
        <div class="col-md-6">
          <p class="black"> {{empresa.razonSocial}} </p>
        </div>
      </div>

    </div>
  </div> 

  <form *ngIf="!existsProcess" class="m_form" [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="row">
      <div class="col-md-12">
        <p class="  bold text-justify">Identificación de Beneficiarios Finales (propietarios o controladores).</p>

        <p class="  text-justify"> Se entenderá como Beneficiarios Finales (propietarios o controladores), a la persona natural, chilena
          o extranjera,
          que finalmente posee, directa o indirectamente, una participación igual o mayor al 10 % del capital o de
          los
          derechos a voto de su empresa.
          <br>
          <br>
          Asimismo, se entenderá como Beneficiarios Finales (propietarios o controladores) a la persona natural, chilena o extranjera, que
          sin perjuicio de poseer directa o indirectamente una participación inferior al 10% del capital o de los
          derechos a voto de su empresa, ejerce el control efectivo en la toma de decisiones.</p>
        <div class="info mb-5 mt-5">
          <!--  *ngIf="form.valid && lstPropietario.length<10 && porcentajeAcumulado<100" -->
          <button (click)="Cambiar()" type="button" [disabled]="lstPropietario.length>9 || porcentajeAcumulado>99"
            class="btn orange" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Agregar
            Propietario </button>
        </div>

<h5 style="color:#150761">PROPIETARIOS</h5>
<br>
        <section class="vs_client w-100" id="vs_cnt">
          <div class="cnt_data" id="information">
            <ul class="data data--media upper">
              <li class="point">Rut</li>
              <li class="point">Nombre</li>
              <li class="point">Participación</li>
              <li class="point"></li>
            </ul>
            <ul class="data data--media" *ngFor="let beneficiario of lstPropietario ">
              <li class="point ">
                <div class="txt_medium_gray upper">{{beneficiario.rutCompleto | rut | uppercase}}</div>
              </li>
              <li class="point ">
                <div class="txt_medium_gray upper">
                  {{beneficiario.nombre | uppercase}} {{beneficiario.apellidos | uppercase}}
                </div>
              </li>
              <li class="point ">
                <div class="txt_medium_gray upper">{{beneficiario.participacion}}%</div>
              </li>
              <li class="point modify">
                <i class="fas fa-pencil-alt pr-2" (click)="EditarPropietario(beneficiario)" data-toggle="modal"
                  data-target="#exampleModal" data-whatever="@mdo"></i>
                <i class="fas fa-trash-alt" (click)="EliminarBeneficiario(beneficiario)"></i>
              </li>
            </ul>
          </div>
          <div class="mobile_data">
            <ul class="data upper" *ngFor="let beneficiario of lstPropietario ">
              <li class="point">
                <div class="txt_litle">Rut</div>
                <div class="txt_medium_gray">{{beneficiario.rutCompleto | rut}}</div>
              </li>
              <li class="point upper">
                <div class="txt_litle">Nombre</div>
                <div class="txt_medium_gray">
                  {{beneficiario.nombre | uppercase}} {{beneficiario.apellidos | uppercase}}
                </div>
              </li>
              <li class="point upper">
                <div class="txt_litle">Participación</div>
                <div class="txt_medium_gray">{{beneficiario.participacion}}%</div>
              </li>

              <li class="point"></li>
              <li class="point modify">
                <i class="modify-edit fas fa-pencil-alt pr-2" style="color :white" (click)="EditarPropietario(beneficiario)" data-toggle="modal"
                  data-target="#exampleModal" data-whatever="@mdo"></i>
                <i class="modify-edit fas fa-trash-alt" style="color :white"(click)="EliminarBeneficiario(beneficiario)"></i>

              </li>
            </ul>
          </div>
          <div *ngIf="lstPropietario.length===0">
            Sin Beneficiarios Declarados
          </div>
        </section>
      </div>
    </div>
    <p class="mt-4">Identificación del Declarante:</p>
    <div class="row">
      <div class="col-md-6" [class.info--error]="checkIsValid('rut')">
        <label class="info-label">RUT Declarante</label>
        <input required type="text" class="info-input" placeholder="Ej: 12.345.678-9" formControlName="rut" maxlength="9"
          formatRut appRutChars> <br />
        <div *ngIf="form.get('rut').hasError('invalidRut') && form.get('rut').touched">
          <span class="text-danger">RUT Incorrecto</span>
        </div>
        <div *ngIf="form.get('rut').hasError('InvalidNatural') && form.get('rut').touched">
          <span class="text-danger">Se debe ingresar un rut de persona natural.</span>
        </div>

      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6" [class.info--error]="checkIsValid('nombre')">
            <label class="info-label">Nombre</label>
            <input required type="text" class="info-input" placeholder="Ej: juan" formControlName="nombre" maxlength="50"
             appLettersChar>
            <div *ngIf="!form.get('nombre').valid && form.get('nombre').touched">
              <span class="text-danger">Nombre Incorrecto</span>
            </div>
          </div>
          <div class="col-md-6" [class.info--error]="checkIsValid('apellido')">
            <label class="info-label">Apellido</label>
            <input required type="text" class="info-input" placeholder="Ej: perez" formControlName="apellido" maxlength="50" appLettersChar>
            <div *ngIf="!form.get('apellido').valid && form.get('apellido').touched">
              <span class="text-danger">Apellido Incorrecto</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 " [class.info--error]="checkIsValid('relacionEmpresa')">
            <label class="info-label">Relación con la Empresa</label>
            <input required type="text" class="info-input" placeholder="Ej: gerente" formControlName="relacionEmpresa"
              maxlength="50" appLettersChar>
            <div *ngIf="!form.get('relacionEmpresa').valid && form.get('relacionEmpresa').touched">
              <span class="text-danger">Relación con la Empresa Incorrecto</span>
            </div>
          </div>
          <div class="col-md-6" [class.info--error]="checkIsValid('correo')">
            <label class="info-label">Correo Electronico</label>
            <input required type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" class="info-input" placeholder="Ej: email@empresa.cl" formControlName="correo"
              maxlength="50">
            <div *ngIf="!form.get('correo').valid && form.get('correo').touched">
              <span class="text-danger">Correo Incorrecto</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="info  mt-5">
      <div *ngIf="!loading">
        <input type="submit" class="buttons-btn btn" [class.orange]="form.valid && lstPropietario.length>0" [class.btn--default]=" !form.valid || lstPropietario.length==0"
          [disabled]=" !form.valid || lstPropietario.length==0" value="Enviar Declaración" />
      </div>
      <div class="info" *ngIf="loading">
        <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
      </div>
      <div class="info">
        <br>
        <label class="info-error">{{mensaje}}</label>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-security text-white">
        <h5 class="modal-title" id="exampleModalLabel ">Agregar Propietario</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="Cambiar()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="  text-justify">Identifique a las personas naturales que tienen participación en la empresa,
          igual o mayor al 10% y/o
          aquellas con participación menor al 10% que toman decisiones relevantes en la empresa (ejercen control
          efectivo).</p>
        <form class="m_form" *ngIf="!editar" [formGroup]="formAgregar" (ngSubmit)="GuardarPropietario()">
          <div class="form-group" [class.info--error]="checkIsValidA('rutAgregado')">
            <label for="recipient-name" class="info-label">RUT Beneficiario:</label>
            <input type="text" class="info-input" placeholder="Ej: 12.345.678-9" formControlName="rutAgregado"
              maxlength="9" formatRut appRutChars>
            <div *ngIf="formAgregar.get('rutAgregado').hasError('invalidRut') && formAgregar.get('rutAgregado').touched">
              <span class="text-danger">RUN Incorrecto</span>
            </div>
            <div *ngIf="formAgregar.get('rutAgregado').hasError('InvalidNatural') && formAgregar.get('rutAgregado').touched">
              <span class="text-danger">Se debe ingresar un rut de persona natural.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Nombre:</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: juan " formControlName="nombreAgregar"
              maxlength="50" appLettersChar>
            <div *ngIf="!formAgregar.get('nombreAgregar').valid && formAgregar.get('nombreAgregar').touched">
              <span class="text-danger">Nombre Incorrecto</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Apellido :</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: perez" formControlName="apellidoAgregar"
              maxlength="50" appLettersChar>
            <div *ngIf="!formAgregar.get('apellidoAgregar').valid && formAgregar.get('apellidoAgregar').touched">
              <span class="text-danger">Apellido Incorrecto</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Participación:</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: 5.43 " formControlName="participacion"
              maxlength="5" appPhoneChar>
            <div *ngIf=" formAgregar.get('participacion').hasError('InvalidPorcentaje') && !formAgregar.get('participacion').valid && formAgregar.get('participacion').touched">
              <span class="text-danger" >Participación Incorrecto</span>
            </div>
            <div *ngIf="formAgregar.get('participacion').hasError('InvalidSuperior')">
              <span class="text-danger">Participación superior al permitido</span>
            </div>
            <div *ngIf="formAgregar.get('rutAgregado').hasError('Repetido')">
              <span class="text-danger">Rut ya ingresado</span>
            </div>
          </div>
          <div class="info mb-2">
            <button type="submit" *ngIf="!editar" [disabled]="!formAgregar.valid || lstPropietario.length>9 || porcentajeAcumulado>99"
              class="btn orange">Agregar</button>
              <button id="btnAgregar" data-dismiss="modal" style="display:none"></button>
          </div>
        </form>

        <form class="m_form" *ngIf="editar" [formGroup]="formEditar" (ngSubmit)="ModificarBeneficiario()">
          <div class="form-group" [class.info--error]="checkIsValidA('rutAgregado')">
            <label for="recipient-name" class="info-label">RUT Beneficiario:</label>
            <input type="text" disabled class="info-input" placeholder="Ej: 12.345.678-9" formControlName="rutEditar"
              maxlength="9" formatRut>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Nombre:</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: juan " formControlName="nombreEditar"
              maxlength="50" appLettersChar>
            <div *ngIf="!formEditar.get('nombreEditar').valid && formEditar.get('nombreEditar').touched">
              <span class="text-danger">Nombre Incorrecto</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Apellido :</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: perez" formControlName="apellidoEditar"
              maxlength="50" appLettersChar>
            <div *ngIf="!formEditar.get('apellidoEditar').valid && formEditar.get('apellidoEditar').touched">
              <span class="text-danger">Apellido Incorrecto</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="info-label">Participación:</label>
            <input type="text" class="info-input" id="recipient-name" placeholder="Ej: 5.43 " formControlName="participacionEditar"
              maxlength="5" appPhoneChar>
            <div *ngIf=" formEditar.get('participacionEditar').hasError('InvalidPorcentaje') && !formEditar.get('participacionEditar').valid && formAgregar.get('participacionEditar').touched">
              <span class="text-danger">Participación Incorrecto</span>
            </div>
            <div *ngIf="formEditar.get('participacionEditar').hasError('InvalidSuperior')">
              <span class="text-danger">Participación superior al permitido</span>
            </div>
          </div>
          <div class="info mb-2">
            <button type="submit" [disabled]="!formEditar.valid || lstPropietario.length>9 || porcentajeAcumulado>99 "
              class="btn orange">Editar</button>
            <button id="btnEditar" data-dismiss="modal" style="display:none"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div>